@import url(variables.css);

*{margin: 0; padding: 0; 

    outline: 1px solid tomato;

}
*::before, *::after{box-sizing: border-box;}
body{min-height: 100dvh;}
input, button, textarea, select{font: inherit;}
p{text-wrap: pretty;}
h1, h2, h3, h4, h5, h6{text-wrap: balance;}
/* img, video, svg{height: auto; max-width: 100%;} */
@media (prefers-reduced-motion: reduce){
*, *::before, *::after{
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
max-width: 100%;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
transition: none;
}
}

body{
    width: 1440px;
    height: 3911px;
    background: var(--color-2);
}


.div_head{
    width: 1440px;
    height: 141px;
}
.div_contain_head{
    width: 1378px;
    height: 96px;
    position: relative;
    top: 22px;
    right: 46px;
        img{
            width: 35px;
            height: 35px;
            position: relative;
            left: 1340px;
            top: -74px;
        }

}

.div_contain_aqua{
    width: 298px;
    height: 96px;
    background: var(--color-1);
    position: relative;
    top: 22px;
    
    border-radius: 50px;
        h1{
            width: 112px;
            height: 46px;
            font-size: 48px;
            font-family: "Roboto-Regular";
            color: var(--color-2);
            position: relative;
            top: 21px;
            left: 78px;
            font-weight: 1;
        }
        img{
            width: 46px;
            height: 45px;
            position: relative;
            top: -22px;
            left: 192px;
        }
}

.div_menu{
    width: 723px;
    height: 38px;
    display: flex;
    position: relative;
    top: -31px;
    left: 397px;
    gap: 73px;
        a{
            text-decoration: none;
            color: var(--color-1);
            font-family: "Roboto-Bold";
            font-size: 24px;
        }
        a:hover{
            color: var(--color-1);
            font-family: "Roboto-Bold";
            font-size: 24px;
            line-height: 20px;
        }
}

.div_title {
    width: 707px;
    height: 391px;
    position: relative;
    top: 90px;
    left: 100px;
    display: flex;
    gap: 35px;

}

.div_textt{
    width: 707px;
    height: 175px;
    color: var(--color-1);
    position: relative;
    top: 456px;
    left: 100px;

        h1{
            width: 707px;
            height: 71px;
            font-size: 56.4px;
            font-family: "Roboto-Regular";
            font-weight: 1;
        }
        p{
            width: 685px;
            height: 91px;
            font-size: 26px;
            font-family: "Roboto-Regular";
            font-weight: 1;

        }
}

.div_compra{
    width: 249px;
    height: 59px;
    background: var(--color-1);
    border-radius: 50px;
    position: relative;
    top: 356px;
    left: 937px;
        a{
            width: 181px;
            height: 48px;
            font-size: 40px;
            font-family: "Roboto-Bold";
            text-decoration: none;
            color: var(--color-2);
            position: relative;
            top: 5px;
            left: 34px;
            line-height: 20px;
        }
        a:hover{
            font-size: 40px;
            font-family: "Roboto-Bold";
            color: var(--color-2);
        }
        img{
        width: 36px;
            height: 36px;
            position: relative;
            top: 6px;
        }
}

.div_gameplay{
    width: 654px;
    height: 258px;
    position: relative;
    left: 393px;
    top: 537px;
        h1{
            width: 363px;
            height: 71px;
            color: var(--color-1);
            font-family: "Roboto-Bold";
            font-size: 64px;
            position: relative;
            left: 145px;
        }
        p{
            width: 654px;
            height: 146px;
            color: var(--color-1);
            font-size: 36px;
            font-family: "Roboto-Regular";
            text-align: center;
        }
}

.div_text_quest{
    width: 1101px;
    height: 1084px;
    position: relative;
    top: 620px;
    left: 169px;
    
}

.div_text_1{
    width: 1099px;
    height: 187px;
    display: flex;
        p{
            width: 752px;
            height: 187px;
            color: var(--color-1);
            font-size: 28px;
            font-family: "Roboto-Regular";
            position: relative;
            left: 32px;
        }
        .img_1-1{
            width: 100px;
            height: 100px;
            position: relative;
            top: 29px;
        }
        .img_1-2{
            width: 162px;
            height: 162px;
            position: relative;
            left:85px;
            top: 10px;
        }
}

.div_text_2{
    width: 1099px;
    height: 187px;
    display: flex;
    position: relative;
    top: 64px;
        p{
            width: 752px;
            height: 187px;
            color: var(--color-1);
            font-size: 28px;
            font-family: "Roboto-Regular";
            position: relative;
            left: 32px;
        }
        .img_1-1{
            width: 100px;
            height: 100px;
            position: relative;
            top: 29px;
        }
        .img_1-2{
            width: 162px;
            height: 162px;
            position: relative;
            left:85px;
            top: 10px;
        }
}
.div_text_3{
    width: 1099px;
    height: 187px;
    display: flex;
        p{
            width: 752px;
            height: 187px;
            color: var(--color-1);
            font-size: 28px;
            font-family: "Roboto-Regular";
            position: relative;
            left: 32px;
        }
        .img_1-1{
            width: 100px;
            height: 100px;
            position: relative;
            top: 29px;
        }
        .img_1-2{
            width: 162px;
            height: 162px;
            position: relative;
            left:85px;
            top: 10px;
        }
}
.div_text_4{
    width: 1099px;
    height: 187px;
    display: flex;
        p{
            width: 752px;
            height: 187px;
            color: var(--color-1);
            font-size: 28px;
            font-family: "Roboto-Regular";
            position: relative;
            left: 32px;
        }
        .img_1-1{
            width: 100px;
            height: 100px;
            position: relative;
            top: 29px;
        }
        .img_1-2{
            width: 162px;
            height: 162px;
            position: relative;
            left:85px;
            top: 10px;
        }
}
.div_text_5{
    width: 1099px;
    height: 187px;
    display: flex;
        p{
            width: 752px;
            height: 187px;
            color: var(--color-1);
            font-size: 28px;
            font-family: "Roboto-Regular";
            position: relative;
            left: 32px;
        }
        .img_1-1{
            width: 100px;
            height: 100px;
            position: relative;
            top: 29px;
        }
        .img_1-2{
            width: 162px;
            height: 162px;
            position: relative;
            left:85px;
            top: 10px;
        }
}